@import "../variables.scss";

.cartItem {
    display: flex;
    height: 216px;
    border-bottom: 2px solid #e2e2e2;
    font-size: 24px;
    margin-top: 16px;
    & > img {
        height: 100%;
        width: 230px;
    }
    &__info {
        font-family: "Poppins-Regular";
        width: 100%;
        & > span {
            color: $orange;
        }
    }
    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        img {
            cursor: pointer;
        }
    }
    &__count {
        span {
            cursor: pointer;
            user-select: none;
        }
        &--input {
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: "Poppins-Regular";
            input {
                width: 55px;
                height: 35px;
                outline: none;
                margin: 0 15px;
            }
            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        }

        color: $gray;
        display: flex;
        margin-top: 24px;
        align-items: center;
        button {
            background: none;
            border: none;
            cursor: pointer;
            user-select: none;
            outline: none;
            font-size: 24px;
            margin: 0 16px;
        }
    }
    .inputBuyButton {
        background: $green;
        color: $white;
        font-family: "Poppins-Regular";
        border-radius: 8px;
    }
}
