@import "../variables.scss";

.header-wrapper {
    background: $white;
    margin-bottom: 75px;
    .header {
        display: flex;
        height: 80px;
        max-width: 1200px;
        margin: 0 auto;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        &__item {
            align-items: center;
            display: flex;
            a {
                margin-right: 15px;
            }
        }
    }
}
